a {
  color: white !important;

  &:hover {
    text-decoration: none;
  }
}

.bp3-navbar {
  > div {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}